pom.xml
*jar
/lib/
/classes/
/targets/
.lein-deps-sum

# guestbook
./guestbook/lib/
./guestbook/classes/
./guestbook/target/
./guestbook/.lein-deps-sum

./guestbook/resources/public/site.db.h2.db

# Ignore the backup files
*~

#- EOF
