{:in_reply_to_screen_name "lincoln",
 :is_quote_status false,
 :coordinates nil,
 :in_reply_to_status_id_str "971093559494418432",
 :place nil,
 :geo nil,
 :in_reply_to_status_id 971093559494418432,
 :entities
 {:hashtags [],
  :symbols [],
  :user_mentions
  [{:screen_name "lincoln",
    :name "Abe Lincoln",
    :id 12345678,
    :id_str "12345678",
    :indices [0 8]}],
  :urls []},
 :source
 "<a href=\"http://twitter.com\" rel=\"nofollow\">Twitter Web Client</a>",
 :lang "en",
 :in_reply_to_user_id_str "14725822",
 :full_text "@lincoln You could send a message via LinkedIn",
 :id 971563071159328778,
 :contributors nil,
 :display_text_range [9 46],
 :truncated false,
 :retweeted false,
 :in_reply_to_user_id 15054266,
 :id_str "971563071159328778",
 :favorited false,
 :user {:id 111373627, :id_str "111373627"},
 :retweet_count 0,
 :favorite_count 0,
 :created_at "Thu Mar 08 01:47:41 +0000 2018"}
